
.flex-container {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    align-content: center;
    background-color: #7db3c5;
}

.flex-container > div {
    background-color: #bbb4b4;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}
